In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
column_names = {'Appliances': 'appliances','T1':'temp_kitchen', 
                'RH_1': 'rel_humidity_kitchen', 'T2': 'temp_living_room', 'RH_2': 'rel_humidity_living_room',
                'T3': 'temp_laundry_rooom', 'RH_3': 'rel_humidity_laundry_room', 'T4': 'temp_office_room',
                'RH_4': 'rel_humidity_office_room', 'T5':'temp_bathroom', 'RH_5': 'rel_humidity_bathroom', 
                'T6': 'temp_outside_north', 'RH_6': 'rel_humidity_outside_north','T7': 'temp_ironing_rooom',
                'RH_7': 'rel_humidity_ironing_room', 'T8': 'temp_teenager_room_2','RH_8': 'rel_humidity_teenager_room_2',
                'T9': 'temp_parents_room', 'RH_9': 'rel_humidity_parents_room', 'T_out': 'temp_outside', 'Press_mm_hg': 'pressure',
                'RH_out': 'rel_humidity_outside', 'Windspeed': 'wind_speed', 'Visibility': 'visibility', 
               'Tdewpoint': 'temp_dew_point', 'rv1': 'random_variable_1', 'rv2': 'random_variable_2'}

In [5]:
df = df.rename(columns=column_names)

In [6]:
df.head()

,date,appliances,lights,temp_kitchen,rel_humidity_kitchen,temp_living_room,rel_humidity_living_room,temp_laundry_rooom,rel_humidity_laundry_room,temp_office_room,...,temp_parents_room,rel_humidity_parents_room,temp_outside,pressure,rel_humidity_outside,wind_speed,visibility,temp_dew_point,random_variable_1,random_variable_2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
df.columns

Index(['date', 'appliances', 'lights', 'temp_kitchen', 'rel_humidity_kitchen',
       'temp_living_room', 'rel_humidity_living_room', 'temp_laundry_rooom',
       'rel_humidity_laundry_room', 'temp_office_room',
       'rel_humidity_office_room', 'temp_bathroom', 'rel_humidity_bathroom',
       'temp_outside_north', 'rel_humidity_outside_north',
       'temp_ironing_rooom', 'rel_humidity_ironing_room',
       'temp_teenager_room_2', 'rel_humidity_teenager_room_2',
       'temp_parents_room', 'rel_humidity_parents_room', 'temp_outside',
       'pressure', 'rel_humidity_outside', 'wind_speed', 'visibility',
       'temp_dew_point', 'random_variable_1', 'random_variable_2'],
      dtype='object')

In [8]:
df.head()

,date,appliances,lights,temp_kitchen,rel_humidity_kitchen,temp_living_room,rel_humidity_living_room,temp_laundry_rooom,rel_humidity_laundry_room,temp_office_room,...,temp_parents_room,rel_humidity_parents_room,temp_outside,pressure,rel_humidity_outside,wind_speed,visibility,temp_dew_point,random_variable_1,random_variable_2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [9]:
df = df.drop(columns = ['date', 'lights'], axis = 1)

In [10]:
scaler = MinMaxScaler()

normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
features_df = normalised_df.drop(columns=['appliances'], axis = 1)
df_target = normalised_df['appliances']

X_train, X_test, y_train, y_test = train_test_split(features_df, df_target, test_size=.3, random_state=42)

In [11]:
linear_reg = LinearRegression()
linear_reg.fit(X_train[['temp_living_room']], X_train.temp_outside)
temp_pred = linear_reg.predict(X_test[['temp_living_room']])
round(r2_score(X_test.temp_outside, temp_pred), 3)

0.631

In [12]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

predicted_values = linear_model.predict(X_test)

In [13]:
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

In [14]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

45.348

In [15]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [16]:
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.149

In [17]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [18]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [19]:
def get_weights_df(model, feature, col_name):
    weights = pd.Series(model.coef_, feature.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [20]:
linear_model_weights = get_weights_df(linear_model, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

In [21]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [22]:
final_weights

,Features,Linear_Model_Weight,Ridge_Weight,Lasso_weight
0,rel_humidity_living_room,-0.456698,-0.411071,-0.000000
1,temp_outside,-0.321860,-0.262172,0.000000
2,temp_living_room,-0.236178,-0.201397,0.000000
3,temp_parents_room,-0.189941,-0.188916,-0.000000
4,rel_humidity_teenager_room_2,-0.157595,-0.156830,-0.000110
5,rel_humidity_outside,-0.077671,-0.054724,-0.049557
6,rel_humidity_ironing_room,-0.044614,-0.045977,-0.000000
7,rel_humidity_parents_room,-0.039800,-0.041367,-0.000000
8,temp_bathroom,-0.015657,-0.019853,-0.000000
9,temp_kitchen,-0.003281,-0.018406,0.000000
10,random_variable_1,0.000770,0.000748,-0.000000
11,random_variable_2,0.000770,0.000748,-0.000000
12,pressure,0.006839,0.006584,-0.000000
13,temp_ironing_rooom,0.010319,0.010098,-0.000000
14,visibility,0.012307,0.012076,0.000000
15,rel_humidity_bathroom,0.016006,0.016152,0.000000
16,rel_humidity_office_room,0.026386,0.024579,0.000000
17,temp_office_room,0.028981,0.027384,-0.000000
18,wind_speed,0.029183,0.030268,0.002912
19,rel_humidity_outside_north,0.038049,0.035519,-0.000000
20,rel_humidity_laundry_room,0.096048,0.095135,0.000000
21,temp_teenager_room_2,0.101995,0.101028,0.000000
22,temp_dew_point,0.117758,0.083128,0.000000
23,temp_outside_north,0.236425,0.217292,0.000000
24,temp_laundry_rooom,0.290627,0.288087,0.000000
25,rel_humidity_kitchen,0.553547,0.519525,0.017880

In [23]:
y_pred = linear_model.predict(X_test)
y_pred_ridge = ridge_reg.predict(X_test)
y_pred_lasso = lasso_reg.predict(X_test)

In [24]:
round(np.sqrt(mean_squared_error(y_test, y_pred_ridge)), 3)

0.088

In [25]:
round(np.sqrt(mean_squared_error(y_test, y_pred_lasso)), 3)

0.094